<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Card</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_cards' %}">My cards</a>
                        </li>
                        <li>
                            <a href="{% url 'list_decks' %}">My decks</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Create a new card</h1>
                <form method="post">
                    {% csrf_token %}
                    <div style="margin-bottom: 10px;">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="start_date">Start date:</label>
                        <input type="date" id="start_date" name="start_date" required>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="due_date">Due date:</label>
                        <input type="date" id="due_date" name="due_date" required>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="deck">Deck:</label>
                        <select id="deck" name="deck" required>
                            <option value="" disabled selected>---------</option>
                            {% for user in users %}<option value="{{ user.id }}">{{ user.username }}</option>{% endfor %}
                        </select>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="assignee">Assignee:</label>
                        <select id="assignee" name="assignee" required>
                            <option value="" disabled selected>---------</option>
                            {% for user in users %}<option value="{{ user.id }}">{{ user.username }}</option>{% endfor %}
                        </select>
                    </div>
                    <div>
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
