<!DOCTYPE html>
<html>
    <head>
        <title>My Cards</title>
        <style>
            header {
  background-color: #333;
  color: #fff;
  width: 190%;
  text-align: left;
  margin-top: -32px;
} 
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
    
header nav ul li {
  display: inline-block;
  color: white !important;
  overflow: hidden;
  margin-top: 5;
  font-size: 10px;
  font-weight: 1;
  z-index: 1;
} 
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: white;
}
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_cards' %}">My cards</a>
                        </li>
                        <li>
                            <a href="{% url 'list_decks' %}">My decks</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Cards</h1>
                {% if cards %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in cards %}
                                <tr>
                                    <td>{{ card.name }}</td>
                                    <td>{{ card.count }}</td>
                                    <td>{{ card.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no cards</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
