* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("pics/Bg2.jpg");
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    background-image: url("pics/Bg3.jpg");
    padding: 10px;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    border: dashed 2px #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    z-index: 100;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c0c0c0;
    width: 201vh;
    height: 80vh;
    margin-top: 21px;
    margin-left: 21px;
    overflow: y;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 21px;
    padding-top: 10px;
    height: 500px;
}

.trading-card {
    background-color: #000;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
}

.add-prompt {
    display: none;
    position: absolute;
    background-color: #000;
    border: solid 1px #000;
    padding: 10px;
    z-index: 2;
}

.trading-card:hover .add-prompt {
    display: block;
    background-color: #000;
}
