* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("pics/Bg2.jpg");
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    background-image: url("pics/Bg3.jpg");
    padding: 10px;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    border: dashed 2px #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

main {
    background-image: url("pics/Bg3.jpg");
    padding: 20px;
    color: #000000;
    width: 35vh;
    margin-left: 100px;
    margin-top: 100px;
}

main h1 {
    margin-bottom: 10px;
}

main a {
    display: inline-block;
    background-color: #0047ab;
    color: #c0c0c0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
}

table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

table td a {
    text-decoration: none;
    color: #ffffff;
}

table img {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
nav ul {
    flex-direction: column;
      align-items: center;
  }
}
