<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Deck</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'create.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_cards' %}"><button class="nav-button">My Cards</button></a>
                </li>
                <li>
                    <a href="{% url 'list_decks' %}"><button class="nav-button">My Decks</button></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><button class="nav-button">Logout</button></a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}"><button class="nav-button">Login</button></a>
                </li>
                <li>
                    <a href="{% url 'signup' %}"><button class="nav-button">Signup</button></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="card-container">
            <!-- Loop through your cards and generate card elements -->
            {% for card in cards %}
            <div class="trading-card">
                <img src="{{ card.image.url }}" alt="{{ card.name }}" class="card-image">
                <div class="add-prompt">
                    <button class="add-button" data-card-id="{{ card.id }}">Add</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <!-- Modal or Add Prompt ... -->

    <script>
        // JavaScript for adding interactivity
        const addButtons = document.querySelectorAll('.add-button');
    
        addButtons.forEach(button => {
            button.addEventListener('click', () => {
                const cardId = button.getAttribute('data-card-id');
                // Perform the logic to add the selected card to the deck
                // You can use AJAX requests to communicate with the backend
                // and update the deck accordingly
            });
        });
    </script>
</body>
</html>