<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Decks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'show_my_cards' %}"><button class="nav-button">My Cards</button></a>
              </li>
              <li>
                  <a href="{% url 'list_decks' %}"><button class="nav-button">My Decks</button></a>
              </li>
              <li>
                  <a href="{% url 'logout' %}"><button class="nav-button">Logout</button></a>
              </li>
          {% else %}
              <li>
                  <a href="{% url 'login' %}"><button class="nav-button">Login</button></a>
              </li>
              <li>
                  <a href="{% url 'signup' %}"><button class="nav-button">Signup</button></a>
              </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Decks</h1>
            <a href="{% url 'create_deck' %}">Create new deck</a>
            {% if decks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of cards</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deck in decks %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_deck' deck.id %}">{{ deck.name }}</a>
                                    <img src="https://static.wikia.nocookie.net/cardfight/images/a/a9/VGD_ENG_TD01.png/revision/latest?cb=20121206214124" alt="TD:01 Blaster Blade">
                                </td>
                                <td>{{ deck.cards.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No current Deck found.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
