<!DOCTYPE html>
<html>
    <head>
        <title>Deck Name</title>
        <style>
            /* Set default font styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(to bottom right, #0047ab, #DC143C);
    height: 97.5vh;
}
    
            /* Style the header */
header {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  margin: 2px;
  background-color: #333;
  color: #fff;
  width: 99.5%;
  text-align: left;
  padding: 1px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
    border-radius: 2px;
    display: inline-block;
    border: solid 2px;
    border-image: linear-gradient(to right, #DC143C, #0047ab);
    border-image-slice: 1;
    text-align: center; /* center the text horizontally */
    line-height: 60px; /* adjust the value to center the text vertically */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 100%;
    background: 100%;
}

header nav ul li a:hover {
  text-decoration: underline;
}
            /* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: center;
    overflow: hidden;
    color: white;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: gold;
}
    
a {
    display: inline-block;
    background-color: #333;
    color: gold;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 4px;
    border: 1px;
    border-color: white;
}
main a:hover {
    background-color: #444;
}
.table-container {
    max-height: 390px; /* set a fixed height for the scrollable container */
    overflow-y: auto; /* enable vertical scrollbar */
}
main table {
    width: 100%;
    border: solid 2px;
    border-color: gold;
    overflow: auto;
    height: 200px; /* set a fixed height */
}
main table th,
main table td {
    padding: .5rem;
    text-align: left;
    border: 1px solid #ccc;
    color: white;
}    

        </style>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'show_my_cards' %}">My cards</a>
                            </li>
                            <li>
                                <a href="{% url 'list_decks' %}">My decks</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">Signup</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <div>
                <h1>{{ deck.name }}</h1>
                <p>{{ deck.description }}</p>
                <h2>Cards</h2>
                <p>
                    <a href="{% url 'create_card' %}">Create a new card</a>
                </p>
                {% if cards %}
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Count</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in cards %}
                                <tr>
                                    <td>{{ card.name }}</td>
                                    <td>{{ card.count }}</td>
                                    <td>{{ card.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p>This deck has no cards</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
